{% extends 'partials/sesion.html' %}
{% block styles%}
<link rel="stylesheet" href="static/css/estilosHome.css">
{% endblock %}
{% block valor1 %} active {% endblock %}
{% block content %}

<div class="contenedor container-fluid bg-body-secondary mt-2">
    <div class="row">
        <div class="col-6 container">
            {%  include 'services/entrada.html' with context %}
        </div>
        <div class=" col-6 container">
            {%  include 'services/salida.html' with context %}
        </div>
    </div>

    <div class="row">
        <div class="container-fluid my-2">
            <div class="row justify-content-center">
                <div class="cc col-11 container">
                    <div class="row h-100">
                        <div class=" ccsT col-4 d-flex flex-column align-items-center">
                            <h2>Tiempos</h2>
                            <div class="content h-100 w-100 bg-black">

                            </div>
                        </div>
                        <div class="col-8 container">
                            <div class="row h-25">
                                <div class=" ccs col-6 d-flex flex-column align-items-center">
                                    <h2>Plazas</h2>
                                    <div class="content">
                                        <h2><span>24</span>/<span>47</span></h2>
                                    </div>
                                </div>

                                <div class=" ccs col-6 d-flex flex-column align-items-center">
                                    <h2>Matriculas</h2>
                                    <div class="content">
                                        <input type="text" placeholder="Buscar matricula" class="rounded-4">
                                    </div>
                                </div>
                            </div>
                            <div class="row h-75">
                                <div class=" ccsP  d-flex flex-column align-items-center">
                                    <h2>Posicionamiento</h2>
                                    <div class="content h-100 w-100 bg-danger container" style="overflow-y: hidden;">
                                        {% include 'services/posicionamiento.html' with context %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}